#left-column {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: solid 1px rgb(236, 236, 236);
    width: 300px;
    height: 100%;
    margin: 0 0;
}
#friend-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    margin: 0 0;
    padding: 0;
}

#friend-list .friend-info {
    flex-grow: 1;
}
#left-column #list-header {
    border-bottom: solid 1px rgb(235, 235, 235);
    height: 50px;
    min-height: 50px;
}

#left-column #list-header span {
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#app-root {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#right-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 300px);
    border: solid 1px rgb(139, 139, 255);
}
#right-column #bar {
    height: 50px;
    border-bottom: solid 1px rgb(221, 221, 221);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

#right-column #bar .profile-pic {
    margin-top: 0;
}

#right-column #chat-box {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
    border-top: solid 1px rgb(226, 226, 226);
}

#chat-box #chat-area {
    margin: 10px 10px;
    flex-grow: 1;
    resize: none;
}

#chat-box #send-button{
    align-self: flex-end;
}

#add-friend {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
}