@import url('./style.css');
@import url('./style2.css');

#left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: solid 1px rgb(236, 236, 236);
    max-width: 300px;
    height: 100%;
    margin: 0 0;
}
#friend-list {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    margin: 0 0;
    padding: 0;
}
#left-column #list-header {
    border-bottom: solid 1px rgb(235, 235, 235);
    height: 50px;
    min-height: 50px;
}

#left-column #list-header span {
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#app-root {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 300px);
    border: solid 1px rgb(139, 139, 255);
}
#right-column #bar {
    height: 50px;
    border-bottom: solid 1px rgb(221, 221, 221);
}