@import url('./style.css');

.chat-friend {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(228, 228, 228);
    padding-left: 30px;
    min-height: 50px;
    justify-content: space-between
}

.profile-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 13px;
}

.friend-info {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 12px;
    overflow: hidden;
}

.friend-info .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 25px;
    margin-top: 5px;
    color: rgb(187, 187, 187);
}
.friend-info .header .time {
    font-size: 15px;
}